#game-canvas {
	position:absolute;
	left:0px;
	top:0px;
	z-index: 1;
}

#paint-canvas {
	position:absolute;
	left:0px;
	top:0px;
	z-index: 1;
}

body{
	background-color: black;
	/*position:relative;*/
}
