#game-canvas {
	position:absolute;
	left:0px;
	top:0px;
	z-index: 2;
}

#paint-canvas {
	position:absolute;
	left:0px;
	top:0px;
	z-index: 1;
}

canvas {
	pointer-events: none;
}

body {
	background-color: black;
}

#controls {
	border-radius: 5px;
	/*max-width: 220px;*/
	width: 15%;
	min-width: 215px;
	background-color: #aaa;
	z-index: 0;
	text-align: center;
}

#controls form  {
	width: 90%;
	padding: 10px;
}

#controls:hover {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

#controls:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

#controls form fieldset {
	width: 80%;
}


#plane-toggle {
	padding: 20px;
}
